.admin-side {
  position: fixed;
  left: 0;
  top: 65px;
  height: 100vh;
  overflow: auto;
  width: 14rem;
  background-color: #2d3748;
  color: #fff;
  display: flex;
  justify-content: center;
}

.admin-side h3 {
  font-weight: normal;
}
